body{
    width: 100%;
  
    margin: 0;
}
.back1{
    background-image: url("b1.jpg");
    background-size: cover;
    padding: 100px;
}
.block1{
  
    background-color: #5576fb;
    width: 400px;
    font-size: 28px;
    padding: 50px;
    padding-bottom: 50px;
   margin-top: 80px;
   margin-left: 100px;
   margin-bottom: 100px;
   
   color: white;
}
.block1 :hover{
    
}
.btn1{
    color: #5576fb;
    background-color: white;
    font-size: 20px;
    border: 0;
    height: 50px;
    width: 200px;
    border-radius: 50px;
}
.e1{
    background-color: #5576fb;
    color:white;
    padding: 20px;
    width: 400px;
    height: 400px;
}
.f{
    color: #5576fb;
    
}
.e2{background-color:#f2f2f2;
    color:black;
    padding: 20px;
    width: 400px;
    height: 400px;
}
.e3{ background-color: white;
    padding: 20px;
    color: black;
    width: 400px;
    height: 400px;

}
.block2{
    display: flex;
    font-size: 24px;
    text-align: center;
    justify-content: center;
}
.dp{
    width: 250px;
   
    border-radius: 100%;
} 
    

.pr{
    background-color: #dbd9d9;
    margin: 20px;
    width: 300px;
    text-align: center;
    padding: 20px;
    height: fit-content;
}
.block3{
    display: flex;
   justify-content: center;
   text-align: center;
   font-size: 16px;
   height: 1000px;
    
}
.block31{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
}
.back2{
    background-color: blue;
    height: 500px;
    
}
.fontblue{
    color: #5576fb;
}
.re{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    margin-bottom: 300px;
}
.box{
    margin-top: 150px;
    display: flex;
  
}
.bl{
    width: 300px;
    height: 100px;
   
    
}
.imge{
    margin-top: -150px;
   width: 500px;
   height: auto;
   margin-bottom: 50px;
}
.text{
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
   margin-top: -100px;
    padding: 20px;
    background-color:gray;
   color: black;
    font-size: 18px;
    
}

.block4{
    margin-top: ;
    background-color: #5576fb;
    text-align: end;
}
.gap{
    background-color: white;
    height: 100px;
}
.block5{
   
   
}
.dev{
   width: 300px;
   padding: 10px;


}
.forimg{
   height: auto;
   width: 100%;
   margin: 0;
   padding: 0;
}
.para{
    margin-top: -475px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  
}
.nbr{
    color: #5576fb;
    font-size: 50px;
    font-weight: bolder;
}
.block6{
    background-color: #5576fb;
    color:white ;
    padding: 20px;
    
}
.stack{
 display: flex;
 justify-content: center;
}
.table{
    display: block;
    width: 300px;
   padding: 50px;
    font-size: 24px;
}
.tab{
    height:500px;
    width: auto;
}
.t3{
    text-align: center;
    margin-bottom: 20px;
}
.h{
    height: 10px;
    width: 400px;
    background-color: #5576fb;
   display: block;
   margin-left: auto;
    margin-right:auto ;
}
.h1{
font-size: 70px;
}
.h2{
    font-size: 20px;
}
.h3{
    font-size: 18px;
    padding-bottom: 20px;
}
.block7{
    background-image: url("p.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

   

}
.box2{
    
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    width: 700px;
    
    display: block;
    margin-left: auto;
    margin-right:auto ;


}
.t{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bolder;
}
.fm{
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    border: 0px;
    font-size: 20px;

    border-bottom: black 1px solid;
}
.form{
    text-align: start;
    margin-right: 20px;
}
.l{
   
    width: 500px;
}
.questions{
    background-color: #dbd9d9;
    display: block;
    width: 500px;
}
.btn3{
    color: white;
    background-color: #5576fb;
    width: 500px;
}
.u{
    
}
.last{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 100px;

}